@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {
    font-family: 'Heebo';
}
.wrapper {
    height: ;
    width: ;
    background-color: white;

}
/* Шапка */
.first {
    overflow: hidden;
}
.hat ul {
    list-style: none;
    float: right;
    margin: 27px 60px 27px 0;

}
.hat li {
    float: left;
    margin-left: 32px;
}
.hat a {
color: #000;
text-decoration: none;
font-size: 20px;
font-weight: 500;

}